option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: swedish_chamber.main.settings
        PYTHONPATH: "/opt/python/current/app/main:$PYTHONPATH"
    aws:elasticbeanstalk:container:python:
        WSGIPath: main.wsgi:application
        StaticFiles: /static/=staticfiles/
    aws:elasticbeanstalk:container:python:staticfiles:
        "/static/": "static/"


container_commands:
    01_migrate:
        command: "python manage.py migrate --noinput"
        leader_only: true
    02_collectstatic:
        command: "python manager.py collectstatic --noinput"